# Ignore Python virtual environments
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files and logs
.env
*.log

# Ignore Jupyter checkpoint files
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
